<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
	<h2>Page protégée</h2>

	<div class="show-post-container">
		<div class="head-post-container">
			<h3><%- data.data.post.headline %></h3>
			<svg  onclick="likePost('<%- data.data.post.id %>', '<%- data.data.user.id %>')" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
				<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
			</svg>
			<span class="amountLikesPost"><%- data.data.likePost.length %> likes</span>
		</div>
		<p class="content-container"><%- data.data.post.body %></p>

		<div>
			<h4>Commentaires de l'article</h4>
			<% if( data.data.comments ) { %>
				<div>
					<% for(let item of data.data.comments) { %>
						<div class="comment-container-<%- item.id %> comment">
							<div class="author-informations">
								<p><%-item.author.givenName %> ( <%= new Date(item.dateModified).toLocaleString(); %> )</p>
							</div>
							<p class="content-container">
								<span class="comment-body"><%- item.content %></span>
								<svg onclick="likeComment('<%- item.id %>', '<%- data.data.user.id %>' )" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
									<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
								</svg>
								<span class="amountLikesComment_<%- item.id %>"><%- item.likes.length %> likes</span>

								<% if( item.author.id == data.data.user.id ) { %>
									<button type="button" onclick="deleteComment('<%- item.id %>')" class="error-btn delete-btn">Supprimer</button>
								<% } %>
							</p>
						</div>
					<% } %>
				</div>
			<% } else { %>
				<p>Il n'y a pas encore de commentaire</p>
			<% } %>

			<section>
				<%- include('components/form-comment') -%>
			</section>
		</div>
	</div>

</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>
